/*

# whitelist the files that need to be tracked
!/.bashrc
!/.curlrc
!/.gitattributes
!/.gitconfig
!/.gitignore
!/.gitignore_global
!/.gitmodules
!/.profile
!/.rubocop.yml
!/.tmux.conf
!/.vimrc
!/.wgetrc
!/.zshenv
!/.zprofile
!/.zshrc

!/.emacs.d/
/.emacs.d/*
!/.emacs.d/custom.el
!/.emacs.d/early-init.el
!/.emacs.d/init.el
!/.emacs.d/lisp/

!/.config/
/.config/*
!/.config/mpv/
/.config/mpv/*
!/.config/mpv/input.conf
!/.config/mpv/mpv.conf
!/.config/mpv/script-opts/
!/.config/mpv/scripts/
!/.config/yamllint/

!/.hammerspoon/
